/*#app {
	background-color: black;
	background-image: url('PDfacebig.jpg');
	color: white;
	padding: 20px;
	background-repeat: no-repeat;
 	background-position: center;
}*/

body {
 	cursor: url(../../boxingglove.png), auto;
 	opacity: 0.6;
}

#app {
	background-image: none;
	background-color: white;
	color: black;
}

.face {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/PDfacesmall.jpg');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.facebonus {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/PDfacesmall2.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
/* 	border-radius: 50%;*/
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.trump {
	width: 155px;
	height: 155px;
 	color: white;
 	background-image:url('../images/trumpF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.allfaces {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-repeat: no-repeat;
 	background-position: center;
 	border-radius: 50%;
 	border: none;
 	margin: 10px auto;
}

.bannon {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/bannonF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.milo {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/miloF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.pepe {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/pepe.jpeg');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.miller {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/millerF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.mitch {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/mitchF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}


.newt {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/newtF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
/* 	border-radius: 50%;*/
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}


.palin {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/palinF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
/* 	border-radius: 50%;*/
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.hannity {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/hannityF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
/* 	border-radius: 50%;*/
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.jones {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/jonesF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.molyneux {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/molyneuxF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.pence {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/penceF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.cruz {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/cruzF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.duke {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/dukeF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.spencer {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/spencerF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.devos {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/devosF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.rudy {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/rudyF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.robertson {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/robertsonF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.sessions {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/sessionsF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
/* 	border-radius: 50%;*/
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.ryan {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/ryanF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.conway {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/conway2F.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.rush {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/rushF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.voigt {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/voigtF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}

.woods {
	width: 155px;
	height: 155px;
 	color: transparent;
 	background-image:url('../images/woodsF.png');
 	background-repeat: no-repeat;
 	background-position: center;
/* 	background-color: transparent;*/
 	border-radius: 50%;
/* 	border: solid 1px black;*/
 	border: none;
 	margin: 10px auto;
/* 	padding: 15px;*/
/* 	box-shadow: inset 0 0 1em rgba(60,194,9,0.75), 0 0 1em white;*/
 	font-family: 'Ubuntu', sans-serif;
}
/*.face:hover {
	background-image:url('PDfacesmall.jpg');
 	background-repeat: no-repeat;
 	background-position: center;
}*/

.banner {
	text-align: center;
	display: block;
	font-family: 'Ubuntu', sans-serif;
	font-size: 75pt;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
/*	color: transparent;*/
/*	color: rgba(255,231,20,0.25);*/
}

#footer {
  height: auto;
  width: 100%;
  border-top: solid 4px black;
  background-image: url('../images/bosch01a.jpg');
  background-position: left top;
  background-repeat: no-repeat;
  background-color: white;
  position: fixed;
  bottom: 0;
}